---
# Installs and configures the Rspamd spam/virus filtering system.

- name: Ensure repository key for Rspamd is in place
  apt_key: url=https://rspamd.com/apt-stable/gpg.key state=present
  tags:
    - dependencies

- name: Add Rspamd repository
  apt_repository: repo="deb https://rspamd.com/apt-stable/ {{ ansible_distribution_release }} main"
  tags:
    - dependencies

- name: Install Rspamd and Redis
  apt: pkg={{ item }} state=installed update_cache=yes
  with_items:
    - rspamd
    - redis-server   # rspamd caching
    - clamav         # rspamd antivirus
    - clamav-daemon  # rspamd antivirus
    - unbound        # rspamd dns resolver
  tags:
    - dependencies
    
- name: "Configure rspamd/local.d/* files"
  template: src="etc_rspamd_local.d_{{ item }}.j2" dest="/etc/rspamd/local.d/{{ item }}"
  with_items:
    - "worker-controller.inc"
    - "worker-proxy.inc"
    - "greylist.conf"
    - "redis.conf"
    - "mime_types.conf"
    - "replies.conf"
    - "milter_headers.conf"
    - "antivirus.conf"
    - "options.inc"
    - "dmarc.conf"
  notify: restart rspamd

- name: "Update DNSSEC Root key and reload Unbound service"
  shell: "unbound-anchor -a /var/lib/unbound/root.key"

- name: Stop clamav-freshclam
  service: name=clamav-freshclam state=stopped enabled=yes

- name: "Update virus signature files (can fail if freshclam daemon is already running)"
  shell: "freshclam"
  ignore_errors: yes

- name: "Configure Redis"
  template: src="etc_redis_redis.conf.j2" dest="/etc/redis/redis.conf"

- name: Start clamav-daemon
  service: name=clamav-daemon state=started enabled=yes

- name: Start clamav-freshclam
  service: name=clamav-freshclam state=started enabled=yes

- name: Start redis
  service: name=redis-server state=started enabled=yes

- name: Start unbound
  service: name=unbound state=restarted enabled=yes

- name: Start rspamd systemd listener
  service: name=rspamd state=started enabled=yes
